<section class="p-4">
  <div class="p-mb-4">
    <h1>Liste des événements</h1>
  </div>

  <div class="actions-container mb-4 flex flex-column sm:flex-row justify-content-between align-items-center gap-2">
    <p-iconfield iconPosition="left">
      <p-inputicon class="pi pi-search"></p-inputicon>
      <input pInputText type="text" #input placeholder="Filtrer..." class="w-full"/>
    </p-iconfield>

    <p-button label="Ajouter un événement" icon="pi pi-plus" (click)="addEvent()" styleClass="w-full sm:w-auto"></p-button>
  </div>

  <div class="table-container card">
    <p-table
      #dt
      [value]="events" 
      dataKey="id"
      [rows]="10"
      [loading]="loading" 
      [rowsPerPageOptions]="[5, 10, 25, 100]"
      [paginator]="true"
      paginatorPosition="bottom"
      [globalFilterFields]="['id', 'titre', 'lieu']" 
      [tableStyle]="{ 'min-width': '75rem' }"
      styleClass="p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-end">
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width:10%">ID <p-sortIcon field="id"></p-sortIcon></th>
          <th pSortableColumn="titre" style="width:25%">Titre <p-sortIcon field="titre"></p-sortIcon></th>
          <th pSortableColumn="lieu" style="width:25%">Lieu <p-sortIcon field="lieu"></p-sortIcon></th>
          <th pSortableColumn="date_debut" style="width:15%">Date début <p-sortIcon field="date_debut"></p-sortIcon></th>
          <th pSortableColumn="date_fin" style="width:15%">Date fin <p-sortIcon field="date_fin"></p-sortIcon></th>
          <th style="width:10%">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event>
        <tr>
          <td>{{ event.id }}</td>
          <td>{{ event.titre }}</td>
          <td>{{ event.lieu }}</td>
          <td>{{ event.date_debut | date: 'shortDate' }}</td>
          <td>{{ event.date_fin | date: 'shortDate' }}</td>
          <td>
             <p-button icon="pi pi-pencil" styleClass="p-button-text p-button-rounded p-button-info" (click)="editEvent(event)"></p-button>
             <p-button icon="pi pi-eye" styleClass="p-button-text p-button-rounded p-button-secondary" (click)="viewEvent(event.id)"></p-button>
             <p-button icon="pi pi-trash" styleClass="p-button-text p-button-rounded p-button-danger" (click)="deleteEvent(event.id)"></p-button>
          </td>
        </tr>
      </ng-template>
       <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6" class="text-center">Aucun événement trouvé.</td>
            </tr>
        </ng-template>
       <ng-template pTemplate="paginatorleft">
       </ng-template>
       <ng-template pTemplate="paginatorright">
       </ng-template>
    </p-table>
  </div>
</section>
