<h2 mat-dialog-title>{{ isEditMode ? 'Modifier l\'événement' : 'Créer un événement' }}</h2>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Titre</mat-label>
      <input matInput placeholder="Titre de l'événement" formControlName="titre">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lieu</mat-label>
      <input matInput placeholder="Lieu de l'événement" formControlName="lieu">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Période de l'événement</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Date de début" formControlName="date_debut">
        <input matEndDate placeholder="Date de fin" formControlName="date_fin">
      </mat-date-range-input>
      <mat-hint>JJ/MM/AAAA – JJ/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="form.errors?.['dateRange']">
        La date de fin doit être postérieure à la date de début
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">
    {{ isEditMode ? 'Modifier' : 'Créer' }}
  </button>
</mat-dialog-actions>
