<mat-sidenav-container>

  <!-- The side nav -->
  <mat-sidenav #drawer fixedInViewport="true" mode="over" opened="false">
    <mat-toolbar color="primary">
      <mat-icon class="nav-icon">school</mat-icon>
      <span>Laboratoire</span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-list-item">
        <mat-icon class="nav-icon">dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/members" routerLinkActive="active-list-item">
        <mat-icon class="nav-icon">group</mat-icon>
        <span>Members</span>
      </a>
      <a mat-list-item routerLink="/tools" routerLinkActive="active-list-item">
        <mat-icon class="nav-icon">build</mat-icon>
        <span>Tools</span>
      </a>
      <a mat-list-item routerLink="/articles" routerLinkActive="active-list-item">
        <mat-icon class="nav-icon">article</mat-icon>
        <span>Articles</span>
      </a>
      <a mat-list-item routerLink="/events" routerLinkActive="active-list-item">
        <mat-icon class="nav-icon">event</mat-icon>
        <span>Events</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- EO: Side nav-->

  <!-- Side nav content-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Lab</span>

      <div fxFlex></div>

      <button [matMenuTriggerFor]="userMenu" mat-button class="user-profile-button">
        <div class="user-profile">
          <mat-icon>account_circle</mat-icon>
          <span class="username" fxHide.xs>User Name</span>
          <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
        </div>
      </button>

      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
  <!-- EO: Side nav content-->

</mat-sidenav-container>
